<div class="instructions">
  <!-- Plain old text instructions, that explain how to use this app -->
  <h3>
    The instructions for using this penalty calculating utility for libraries
  </h3>

  <ul>
    <li>
      <strong
        >This is a API-driven utility that calculates your penalty by the number
        of business days you borrowed the book</strong
      >
    </li>
    <li>
      <strong>
        Please read the following instructions carefully to use this
        utility:</strong
      >
    </li>
    <li>
      Enter the checkout date, when you got the book from the library in the
      first input field
    </li>
    <li>
      Enter the return date, when you returned the book to the library in the
      second input field
    </li>
    <li>Select your region by choosing a country from the dropdown menu</li>
    <li>
      Once you have entered the correct required information, click the
      "Calculate Penalty" button to get the penalty amount
    </li>
  </ul>
</div>
